<div class="sidebar">
    <a href="/">Marcus Osterberg</a>
    <br/>
    <br/>
    <p class="about-me-text">
    Hi,
    I’m the co-founder and CTO of <a href="http://www.gonutri.com/" target="new">GONUTRI</a>. I’ve spent most part of my adult years traveling and working as an IT-consult.
    Born and raised in a small Swedish town, live now days in Munich.
    </p>
    <p class="blog-text">{{ site.description }}</p>
    <p>
    please contact me on <a href="http://www.twitter.com/osterbergmarcus" target="new">twitter</a> | <a href="mailto:marcus@gonutri.com"><i class="fa fa-envelope"></i></a>
    </p>
</div>
