<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <input type="checkbox" id="sidebartoggler" name="" value=""></input>

 <div class="page-wrap">

   <header class="site-header">

   </header>

  <label for="sidebartoggler" class="toggle">☰</label>
  <label for="sidebartoggler" class="toggle2">x</label>

    <div class="page-content">
        {{ content }}
    </div>

    {% include sidebar.html %}
    {% include footer.html %}


 <div class="backtotop">
  <a href="#" i class="fa fa-arrow-circle-up fa-2x"></i></a>
 </div>

  </body>

</html>
